<div class="outer">
  <div class="header">
    works
  </div>
  <div class="body">
    <table>
      <thead>
        <tr>
          <th>Kurskürzel</th>
          <th>Anzahl Temrmine</th>
          <th>Teilnehmeranzahl</th>
          <th>Wartelistenlänge</th>
          <th>Trainer</th>
          <th>Ort</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tempalte of courseTemplateList">
          <td>template.acronym</td>
          <td>template.numberOfDates</td>
          <td>template.numberOfParticipants</td>
          <td>template.numberOfWaitlist</td>
          <td>template.numberTrainers</td>
          <td>template.meetingPoint</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">

  </div>

</div>
