<div class="outer">
  <div class="body">
    <div class="title">
      <p>Titel:</p>
      <p>{{ courseTemplate.title }}</p>
    </div>
    <div class="acronym">
      <p>Kürzel:</p>
      <p>{{ courseTemplate.acronym }}</p>
    </div>
    <div class="description">
      <p>Beschreibung:</p>
      <p>{{ courseTemplate.description }}</p>
    </div>
    <div class="number-of-dates">
      <p>Anzahl Terminen:</p>
      <p>{{ courseTemplate.numberOfDates }}</p>
    </div>
    <div class="duration">
      <p>Dauer in Minuten:</p>
      <p>{{ courseTemplate.duration }}</p>
    </div>
    <div class="number-of-participants">
      <p>Maximale Teilnehmeranzahl:</p>
      <p>{{ courseTemplate.numberParticipants }}</p>
    </div>
    <div class="number-of-waitlist">
      <p>Wartelistenlänge:</p>
      <p>{{ courseTemplate.numberWaitlist }}</p>
    </div>
    <div class="location">
      <p>Ort:</p>
      <p>{{ courseTemplate.location.title }}</p>
    </div>
    <div class="meeting-point">
      <p>Treffpunkt:</p>
      <p>{{ courseTemplate.meetingPoint }}</p>
    </div>
    <div class="price">
      <p>Preisliste:</p>
      <div>
        <p *ngFor="let price of courseTemplate.price">
          {{ price.name }}:{{ price.price }}
        </p>
      </div>
    </div>
    <div class="required-qualifications">
      <p>Benötigte Qualifikationen:</p>
      <div>
        <p *ngFor="let qualification of courseTemplate.requiredQualifications">
          {{ qualification.name }}
        </p>
      </div>
    </div>
    <div class="number-of-trainers">
      <p>Anzahl Trainer:</p>
      <p>{{ courseTemplate.numberTrainers }}</p>
    </div>
  </div>
  <div class="footer">
    <button (click)="closeDialog()">Schließen</button>
  </div>
</div>
