<div class="outer" *ngIf="!isEdit; else editTemplate">
  <div class="header">
    <h1 mat-dialog-title>Trainer erstellen</h1>
  </div>
  <div class="body">
    <div>
      <mat-dialog-content>
        <div>
          <input
            matInput
            placeholder="Vorname"
            [(ngModel)]="createTrainerData.firstName"
          />
          <input
            matInput
            placeholder="Nachname"
            [(ngModel)]="createTrainerData.lastName"
          />
        </div>
        <div>
          <input
            matInput
            placeholder="Nutzername"
            [(ngModel)]="createTrainerData.username"
          />
          <input
            matInput
            placeholder="Passwort"
            [(ngModel)]="createTrainerData.password"
          />
        </div>
        <div>
          <input
            matInput
            placeholder="Email"
            [(ngModel)]="createTrainerData.email"
          />
          <input
            matInput
            placeholder="Telefonnummer"
            [(ngModel)]="createTrainerData.phone"
          />
        </div>
      </mat-dialog-content>
    </div>
  </div>
  <div class="buttonDiv">
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="saveCreate()">
        Trainer anlegen
      </button>
      <button mat-raised-button (click)="cancel()">Abbrechen</button>
    </mat-dialog-actions>
  </div>
</div>

<ng-template #editTemplate>
  <div class="outer">
    <div class="header">
      <h1 mat-dialog-title>Trainer bearbeiten</h1>
    </div>
    <div class="body">
      <div>
        <mat-dialog-content>
          <div>
            <input
              matInput
              placeholder="Vorname"
              [(ngModel)]="trainerData.firstName"
            />
            <input
              matInput
              placeholder="Nachname"
              [(ngModel)]="trainerData.lastName"
            />
          </div>
          <div>
            <input
              matInput
              placeholder="Email"
              [(ngModel)]="trainerData.email"
            />
            <input
              matInput
              placeholder="Telefonnummer"
              [(ngModel)]="trainerData.phone"
            />
          </div>
          <!--
          <mat-select placeholder="Qualifikation auswählen">
            <mat-option *ngFor="let q of allQualification" value="{{q.id}}">{{q.name}}</mat-option>
          </mat-select>
          -->
          <app-multi-select-dropdown id="multiSelect"
                                               [allOptions]="allQualification"
                                               [selectedOptions]="selectedQualification"
                                               [dropdownHeadline]="'Qualifikationen'"
                                               [allowMultiple]="true">
          </app-multi-select-dropdown>
        </mat-dialog-content>
      </div>
    </div>
    <div class="buttonDiv">
      <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="saveUpdate()">
          Trainer updaten
        </button>
        <button mat-raised-button (click)="cancel()">Abbrechen</button>
      </mat-dialog-actions>
    </div>
  </div>
</ng-template>
