<div class="pop-up" *ngIf="!isEdit; else editTemplate">
  <div>
    <h1>Trainer erstellen</h1>
  </div>
  <div>
    <div>
      <div>
        <input
          placeholder="Vorname"
          [(ngModel)]="createTrainerData.firstName"
        />
        <p *ngIf="validationObject.firstNameError" class="errorMessage">
          {{ validationObject.firstNameError }}
        </p>
        <input
          placeholder="Nachname"
          [(ngModel)]="createTrainerData.lastName"
        />
        <p *ngIf="validationObject.lastNameError" class="errorMessage">
          {{ validationObject.lastNameError }}
        </p>
      </div>
      <div>
        <input
          placeholder="Nutzername"
          [(ngModel)]="createTrainerData.username"
        />
        <p *ngIf="validationObject.usernameError" class="errorMessage">
          {{ validationObject.usernameError }}
        </p>
        <input
          type="password"
          placeholder="Passwort"
          [(ngModel)]="createTrainerData.password"
        />
        <p *ngIf="validationObject.passwordError" class="errorMessage">
          {{ validationObject.passwordError }}
        </p>
      </div>
      <div>
        <input placeholder="Email" [(ngModel)]="createTrainerData.email" />
        <p *ngIf="validationObject.emailError" class="errorMessage">
          {{ validationObject.emailError }}
        </p>
        <input
          placeholder="Telefonnummer"
          [(ngModel)]="createTrainerData.phone"
        />
        <p *ngIf="validationObject.phoneError" class="errorMessage">
          {{ validationObject.phoneError }}
        </p>
      </div>
    </div>
  </div>
  <div>
    <button (click)="saveCreate()">Trainer anlegen</button>
    <button (click)="cancel()">Abbrechen</button>
  </div>
</div>

<ng-template #editTemplate>
  <div class="pop-up">
    <div>
      <h1>Trainer bearbeiten</h1>
    </div>
    <div>
      <div>
        <div>
          <input placeholder="Vorname" [(ngModel)]="trainerData.firstName" />
          <input placeholder="Nachname" [(ngModel)]="trainerData.lastName" />
        </div>
        <div>
          <input placeholder="Email" [(ngModel)]="trainerData.email" />
          <input placeholder="Telefonnummer" [(ngModel)]="trainerData.phone" />
        </div>
        <app-multi-select-dropdown
          id="multiSelect"
          #qualification
          [allOptions]="allQualification"
          [selectedOptions]="selectedQualification"
          [dropdownHeadline]="'Qualifikationen'"
          [allowMultiple]="true"
        >
        </app-multi-select-dropdown>
      </div>
    </div>
    <div>
      <button (click)="saveUpdate()">Trainer updaten</button>
      <button (click)="cancel()">Abbrechen</button>
    </div>
  </div>
</ng-template>
