<div class="pop-up" *ngIf="!isEdit; else editTemplate">
  <div>
    <h1>Trainer erstellen</h1>
  </div>
  <div>
    <div>
      <div>
        <input
          matInput
          placeholder="Vorname"
          [(ngModel)]="createTrainerData.firstName"
        />
        <input
          matInput
          placeholder="Nachname"
          [(ngModel)]="createTrainerData.lastName"
        />
      </div>
      <div>
        <input
          matInput
          placeholder="Nutzername"
          [(ngModel)]="createTrainerData.username"
        />
        <input
          matInput
          type="password"
          placeholder="Passwort"
          [(ngModel)]="createTrainerData.password"
        />
      </div>
      <div>
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="createTrainerData.email"
        />
        <input
          matInput
          placeholder="Telefonnummer"
          [(ngModel)]="createTrainerData.phone"
        />
      </div>
    </div>
  </div>
  <div class="buttonDiv">
    <button (click)="saveCreate()">Trainer anlegen</button>
    <button (click)="cancel()">Abbrechen</button>
  </div>
</div>

<ng-template #editTemplate>
  <div class="pop-up">
    <div>
      <h1>Trainer bearbeiten</h1>
    </div>
    <div>
      <div>
        <div>
          <input
            matInput
            placeholder="Vorname"
            [(ngModel)]="trainerData.firstName"
          />
          <input
            matInput
            placeholder="Nachname"
            [(ngModel)]="trainerData.lastName"
          />
        </div>
        <div>
          <input matInput placeholder="Email" [(ngModel)]="trainerData.email" />
          <input
            matInput
            placeholder="Telefonnummer"
            [(ngModel)]="trainerData.phone"
          />
        </div>
        <!--
          <mat-select placeholder="Qualifikation auswählen">
            <mat-option *ngFor="let q of allQualification" value="{{q.id}}">{{q.name}}</mat-option>
          </mat-select>
          -->
        <!--
          <app-multi-select-dropdown id="multiSelect"
                                               [allOptions]="allQualification"
                                               [selectedOptions]="selectedQualification"
                                               [dropdownHeadline]="'Qualifikationen'"
                                               [allowMultiple]="true">
          </app-multi-select-dropdown>
        -->
      </div>
    </div>
    <div>
      <button (click)="saveUpdate()">Trainer updaten</button>
      <button (click)="cancel()">Abbrechen</button>
    </div>
  </div>
</ng-template>
