<div class="outer">
  <div class="courseBody">
    <div>
      <p>Titel:</p>
      <p>{{ selectedLocation.title }}</p>
    </div>
    <div>
      <p>Straße:</p>
      <p>{{ selectedLocation.street }}</p>
    </div>
    <div>
      <p>Postleitzahl:</p>
      <p>{{ selectedLocation.postCode }}</p>
    </div>
    <div>
      <p>Stadt:</p>
      <p>{{ selectedLocation.city }}</p>
    </div>
    <div>
      <p>Land:</p>
      <p>{{ selectedLocation.country }}</p>
    </div>
    <div>
      <p>E-Mail:</p>
      <p>{{ selectedLocation.email }}</p>
    </div>
    <div>
      <p>Telefonnummer:</p>
      <p>{{ selectedLocation.phone }}</p>
    </div>
    <div>
      <p>Google Maps URL:</p>
      <p>{{ selectedLocation.mapsUrl }}</p>
    </div>  
    <div class="footer">
      <button (click)="close()">Schließen</button>
    </div>
  </div>
</div>
