<div class="searchBarWrapper">
  <div class="dropdown">
    <button class="dropbtn" (click)="displayDropdown = !displayDropdown">
      {{ displayOption }}
    </button>
    <div
      class="dropdown-content"
      [ngClass]="{ 'show-dropdown-content': displayDropdown }"
    >
      <button
        *ngFor="let filterOption of filterOptions"
        (click)="optionClicked(filterOption)"
      >
        {{ filterOption }}
      </button>
    </div>
  </div>
  <input
    type="text"
    *ngIf="
      displayOption == FilterOption.TrainerFullName ||
      displayOption == FilterOption.CourseAcronym
    "
    [(ngModel)]="searchText"
  />
  <div *ngIf="displayOption == FilterOption.StartDate">
    Von:
    <input type="date" [(ngModel)]="searchDate" />
  </div>
  <div *ngIf="displayOption == FilterOption.StartDate">
    Bis:
    <input type="date" [(ngModel)]="searchEndDate" />
  </div>
</div>

<div class="listWrapper">
  <div class="tableWrapper">
    <table>
      <thead>
        <tr>
          <th>Kurs Nr.</th>
          <th>Termin 1.</th>
          <th>Termin 2.</th>
          <th>Termine insgesamt</th>
          <th>Trainer</th>
          <th>Belegte Plätze</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let c of courses">
          <tr
            *ngIf="
              c
                | search
                  : displayOption
                  : searchText
                  : searchDate
                  : searchEndDate
            "
          >
            <!-- <tr> -->
            <td>{{ c.acronym + c.courseNumber }}</td>
            <td>
              {{ c.dates[0] | date : "EEE dd.MM.yy HH.mm" : "de" }}
            </td>
            <td>
              {{ c.dates[0] | date : "EEE dd.MM.yy HH.mm" : "de" }}
            </td>
            <td>{{ c.dates.length }}</td>
            <td>
              <span *ngFor="let trainer of c.trainers">
                {{ trainer.firstName }}
                {{ trainer.lastName }}
              </span>
            </td>
            <td>
              {{
                c.participants.length +
                  "/" +
                  c.numberParticipants +
                  " + (" +
                  c.waitList.length +
                  "/" +
                  c.numberWaitlist +
                  ")"
              }}
            </td>
            <td>
              <button (click)="showDetails(c)">Details</button>
            </td>
            <td>
              <button (click)="showEdit(c)">Bearbeiten</button>
            </td>
            <td>
              <button (click)="delete(c)">Löschen</button>
            </td>
            <td>
              <button (click)="cancelCourse(c)">
                {{ c.canceled ? "Veranstalten" : "Absagen" }}
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <button class="createButton" (click)="showTemplateList()">
    Kurs anhand einer Vorlage erstellen
  </button>
</div>
