

.navbar {
  display: flex;
  .nav-wrapper {
    margin: 0 auto;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 219px;
      padding: 15px 15px 15px 0;
      cursor: pointer;
    }
    li {
      padding: 0;
      display: inline-block;
      position: relative;
      background-color: inherit;
      text-align: left;
      a {
        padding: 10px;
        transition: color 250ms;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
        font-family: "Roboto",sans-serif,"google";
        &.highlight {
          color: var(--hover-color);
        }
      }
      a:hover {
        color: var(--hover-color);
      }
    }
  }
}

// .horizontal {
//   display: block;
// }

// .vertical {
//   display: none;
// }

// @media only screen and (max-width: 500px) {
//   .horizontal {
//     display: none;
//   }

//   .vertical {
//     display: block;
//   }
// }


.dropbox-wrapper {
  display: flex;
  flex-direction: column;

  .dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    color: var(--klz-bg-color);
    border-color: var(--klz-bg-color); 
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    background: white;
    width: 145px;
    z-index: 10;
    max-height: 150px;
    overflow-y: scroll;
    &.showTrainerList {
      display: block;
    }
    &.showQualificationList {
      display: block;
    }
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }
}