<div>
    <div>
        <button (click)="navigateToPath('/kursvorlage')">Kursvorlage</button>
    </div>
    <div>
        <button (click)="navigateToPath('/kurs')">Kurs</button>
    </div>
    <div>
        <button (click)="navigateToPath('/gruppenvorlage')">Gruppenvorlage</button>
    </div>
    <div>
        <button (click)="navigateToPath('/gruppe')">Gruppe</button>
    </div>
    <div>
        <button (click)="navigateToPath('/standort')">Standort</button>
    </div>
    <div>
        <button (click)="navigateToPath('/trainer')">Trainer</button>
    </div>
    <div>
        <button (click)="navigateToPath('/qualifikation')">Qualifikation</button>
    </div>
</div>

