<div class="navbar">
  <div class="nav-wrapper">
    <img
      src="../../../assets/images/klz.png"
      (click)="navigateToPath('', -1)"
    />
    <ng-container *ngFor="let link of links; let i = index" class="horizontal">
      <li class="horizontal">
        <a
          (click)="navigateToPath(link.route, i)"
          [class.highlight]="link.route == currentRoute"
          >{{ link.title }}</a
        >
      </li>
    </ng-container>

    <div class="dropbox-wrapper">
      <div id="list1" class="dropdown-check-list">
        <span class="anchor" tabindex="0">Kurs</span>
      </div>
    </div>
  </div>
</div>
