<div class="outer">
  <div class="body">
    <div>
      <h1>Trainer Details</h1>
    </div>
    <div>
      <p>Id:</p>
      <p>{{ trainerData.id }}</p>
    </div>
    <div>
      <p>SubjectId:</p>
      <p>{{ trainerData.subjectId }}</p>
    </div>
    <div>
      <p>Vorname:</p>
      <p>{{ trainerData.firstName }}</p>
    </div>
    <div>
      <p>Nachname:</p>
      <p>{{ trainerData.lastName }}</p>
    </div>
    <div>
      <p>Email:</p>
      <p>{{ trainerData.email }}</p>
    </div>
    <div>
      <p>Telefonnummer:</p>
      <p>{{ trainerData.phone }}</p>
    </div>
    <div>
      <p>Qualifikationen:</p>

      <p *ngFor="let t of trainerData.qualifications; let i = index">
        {{
          t.name + (i + 1 != trainerData.qualifications.length ? ", " : " ")
        }}&nbsp;
      </p>
    </div>
    <button *ngIf="isDelete" (click)="deleteTrainer()">Löschen</button>
    <button (click)="cancel()">schließen</button>
  </div>
</div>
