<div class="outer">
  <div class="header">
    <h1 mat-dialog-title>Massenzuweisung von Qualifikationen</h1>
  </div>
  <div class="body">
    <div>
      <mat-dialog-content>
        <div>
          <app-multi-select-dropdown id="multiselect"
                                     [allOptions]="allTrainers"
                                     [selectedOptions]="selectedTrainers"
                                     [dropdownHeadline]="'Trainer'"
                                     [allowMultiple]="true">

          </app-multi-select-dropdown>
        </div>
      </mat-dialog-content>
    </div>
  </div>
  <div class="buttonDiv">
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="save()">Trainer zuweisen</button>
      <button mat-raised-button (click)="cancel()">Abbrechen</button>
    </mat-dialog-actions>
  </div>
</div>
