<div class="outer">
  <div class="body">
    <div>
      <p>Titel:</p>
      <input type="text" [(ngModel)]="courseTemplate.title" />
      <p *ngIf="validationObject.titleError" class="errorMessage">
        {{ validationObject.titleError }}
      </p>
    </div>
    <div>
      <p>Kürzel:</p>
      <input type="text" [(ngModel)]="courseTemplate.acronym" />
      <p *ngIf="validationObject.acronymError" class="errorMessage">
        {{ validationObject.acronymError }}
      </p>
    </div>
    <div>
      <p>Beschreibung:</p>
      <input
        id="description"
        type="text"
        [(ngModel)]="courseTemplate.description"
      />
      <p *ngIf="validationObject.descriptionError" class="errorMessage">
        {{ validationObject.descriptionError }}
      </p>
    </div>
    <div>
      <p>Anzahl Termine:</p>
      <input
        id="number-of-dates"
        type="number"
        [(ngModel)]="courseTemplate.numberOfDates"
      />
      <p *ngIf="validationObject.numberOfDatesError" class="errorMessage">
        {{ validationObject.numberOfDatesError }}
      </p>
    </div>
    <div class="duration">
      <p>Dauer pro Termin (Minuten):</p>
      <input
        id="duration"
        type="number"
        [(ngModel)]="courseTemplate.duration"
      />
      <p *ngIf="validationObject.durationError" class="errorMessage">
        {{ validationObject.durationError }}
      </p>
    </div>
    <div class="number-of-participants">
      <p>Max. Teilnehmeranzahl:</p>
      <input
        id="number-of-participants"
        type="number"
        [(ngModel)]="courseTemplate.numberParticipants"
      />
      <p
        *ngIf="validationObject.numberOfParticipantsError"
        class="errorMessage"
      >
        {{ validationObject.numberOfParticipantsError }}
      </p>
    </div>
    <div class="number-waitlist">
      <p>Max. Wartelistenlänge:</p>
      <input
        id="number-waitlist"
        type="number"
        [(ngModel)]="courseTemplate.numberWaitlist"
      />
      <p *ngIf="validationObject.numberWaitlistError" class="errorMessage">
        {{ validationObject.numberWaitlistError }}
      </p>
    </div>
    <div>
      <div>
        <p>Preise:</p>
      </div>
      <div class="priceWrapper">
        <div *ngFor="let price of courseTemplate.price; let i = index">
          <input type="text" [(ngModel)]="price.name" />
          <input type="number" [(ngModel)]="price.price" />
          <button class="deletePriceBtn" (click)="deletePrice(i)">-</button>
        </div>
        <button class="addPriceBtn" (click)="addPrice()">
          Preis hinzufügen
        </button>
      </div>
      <p *ngIf="validationObject.priceError" class="errorMessage">
        {{ validationObject.priceError }}
      </p>
    </div>
    <div class="location">
      <p>Ort:</p>
      <app-multi-select-dropdown
        id="location"
        [allowMultiple]="false"
        [allOptions]="locationList"
        [selectedOptions]="courseLocation"
        [dropdownHeadline]="'Ort'"
      ></app-multi-select-dropdown>
      <p *ngIf="validationObject.locationError" class="errorMessage">
        {{ validationObject.locationError }}
      </p>
    </div>
    <div class="meeting-point">
      <p>Treffpunkt:</p>
      <input
        id="meeting-point"
        type="text"
        [(ngModel)]="courseTemplate.meetingPoint"
      />
      <p *ngIf="validationObject.meetingPointError" class="errorMessage">
        {{ validationObject.meetingPointError }}
      </p>
    </div>
    <div class="required-qualifications">
      <p>Qualifikationen:</p>
      <app-multi-select-dropdown
        id="required-qualifications"
        [allOptions]="qualificationList"
        [selectedOptions]="requiredQualifications"
        [dropdownHeadline]="'Qualifikationen'"
        [allowMultiple]="true"
      ></app-multi-select-dropdown>
      <p
        *ngIf="validationObject.requiredQualificationError"
        class="errorMessage"
      >
        {{ validationObject.requiredQualificationError }}
      </p>
    </div>
    <div class="number-trainers">
      <p>Benötigte Trainer:</p>
      <input
        id="number-trainers"
        type="number"
        [(ngModel)]="courseTemplate.numberTrainers"
      />
      <p *ngIf="validationObject.numberTrainersError" class="errorMessage">
        {{ validationObject.numberTrainersError }}
      </p>
    </div>
  </div>
  <div class="footer">
    <button class="save-button dialog-button" (click)="save()">
      Speichern
    </button>
    <button class="dialog button" (click)="cancel()">Abbrechen</button>
  </div>
</div>
