<div class="outer">
  <div class="body">
    <div>
      <p>Titel:</p>
      <input type="text" [(ngModel)]="courseTemplate.title" />
      <p *ngIf="validationObject.titleError">
        {{ validationObject.titleError }}
      </p>
    </div>
    <div>
      <p>Kürzel:</p>
      <input type="text" [(ngModel)]="courseTemplate.acronym" />
      <p *ngIf="validationObject.acronymError">
        {{ validationObject.acronymError }}
      </p>
    </div>
    <div>
      <p>Beschreibung:</p>
      <input
        id="description"
        type="text"
        [(ngModel)]="courseTemplate.description"
      />
      <p *ngIf="validationObject.descriptionError">
        {{ validationObject.descriptionError }}
      </p>
    </div>
    <div>
      <p>Anzahl Termine:</p>
      <input
        id="number-of-dates"
        type="text"
        [(ngModel)]="courseTemplate.numberOfDates"
      />
      <p *ngIf="validationObject.numberOfDatesError">
        {{ validationObject.numberOfDatesError }}
      </p>
    </div>
    <div class="duration">
      <p>Dauer pro Termin (Minuten):</p>
      <input id="duration" type="text" [(ngModel)]="courseTemplate.duration" />
      <p *ngIf="validationObject.durationError">
        {{ validationObject.durationError }}
      </p>
    </div>
    <div class="number-of-participants">
      <p>Max. Teilnehmeranzahl:</p>
      <input
        id="number-of-participants"
        type="text"
        [(ngModel)]="courseTemplate.numberParticipants"
      />
      <p *ngIf="validationObject.numberOfParticipantsError">
        {{ validationObject.numberOfParticipantsError }}
      </p>
    </div>
    <div class="number-waitlist">
      <p>Max. Wartelistenlänge:</p>
      <input
        id="number-waitlist"
        type="text"
        [(ngModel)]="courseTemplate.numberWaitlist"
      />
      <p *ngIf="validationObject.numberWaitlistError">
        {{ validationObject.numberWaitlistError }}
      </p>
    </div>
    <div>
      <div>
        <p>Preise:</p>
      </div>
      <div class="priceWrapper">
        <div *ngFor="let price of courseTemplate.price">
          <input type="text" [(ngModel)]="price.name" />
          <input type="number" [(ngModel)]="price.price" />
          <button (click)="removePrice()">-</button>
        </div>
        <button (click)="addPrice()">Preis hinzufügen</button>
      </div>
      <p *ngIf="validationObject.priceError">
        {{ validationObject.priceError }}
      </p>
    </div>
    <div class="location">
      <p>Ort:</p>
      <app-multi-select-dropdown
        id="location"
        [allowMultiple]="false"
        [allOptions]="locationList"
        [selectedOptions]="courseLocation"
        [dropdownHeadline]="'Ort'"
      ></app-multi-select-dropdown>
      <p *ngIf="validationObject.locationError">
        {{ validationObject.locationError }}
      </p>
    </div>
    <div class="meeting-point">
      <p>Treffpunkt:</p>
      <input
        id="meeting-point"
        type="text"
        [(ngModel)]="courseTemplate.meetingPoint"
      />
      <p *ngIf="validationObject.meetingPointError">
        {{ validationObject.meetingPointError }}
      </p>
    </div>
    <div class="required-qualifications">
      <p>Qualifikationen:</p>
      <app-multi-select-dropdown
        id="required-qualifications"
        [allOptions]="qualificationList"
        [selectedOptions]="requiredQualifications"
        [dropdownHeadline]="'Qualifikationen'"
        [allowMultiple]="true"
      ></app-multi-select-dropdown>
      <p *ngIf="validationObject.requiredQualificationError">
        {{ validationObject.requiredQualificationError }}
      </p>
    </div>
    <div class="number-trainers">
      <p>Benötigte Trainer:</p>
      <input
        id="number-trainers"
        type="text"
        [(ngModel)]="courseTemplate.numberTrainers"
      />
      <p *ngIf="validationObject.numberTrainersError">
        {{ validationObject.numberTrainersError }}
      </p>
    </div>
  </div>
  <div>
    <button class="save-button dialog-button" (click)="save()">
      Speichern
    </button>
    <button class="dialog button" (click)="cancel()">Abbrechen</button>
  </div>
</div>
