<div class="outer">
    <div class="header">

    </div>
    <div class="body">
        <div class="title">
            <label for="title">Titel</label>
            <input id="title" type="text" [(ngModel)]="courseTemplate.title">
        </div>
        <div class="acronym">
            <label for="acronym">Kürzel</label>
            <input id="acronym" type="text" [(ngModel)]="courseTemplate.acronym">
        </div>
        <div class="description">
            <label for="description">Beschreibung</label>
            <input id="description" type="text" [(ngModel)]="courseTemplate.description">
        </div>
        <div class="number-of-dates">
            <label for="number-of-dates">Anzahl Termine</label>
            <input id="number-of-dates" type="text" [(ngModel)]="courseTemplate.numberOfDates">
        </div>
        <div class="duration">
            <label for="duration">Dauer pro Termin (Minuten)</label>
            <input id="duration" type="text" [(ngModel)]="courseTemplate.duration">
        </div>
        <div class="number-of-participants">
            <label for="number-of-participants">Max. Teilnehmeranzahl</label>
            <input id="number-of-participants" type="text" [(ngModel)]="courseTemplate.numberParticipants">
        </div>
        <div class="number-waitlist">
            <label for="number-waitlist">Max. Wartelistenlänge</label>
            <input id="number-waitlist" type="text" [(ngModel)]="courseTemplate.numberWaitlist">
        </div>
        <div class="price">
            <div>
                <span>Preise:</span>
                <button (click)="addPrice()">+</button>
                <button (click)="removePrice()">-</button>
            </div>
            <div>
                <span>Kategorie</span>
                <span>Preis</span>
            </div>
            <div *ngFor="let price of courseTemplate.price">
                <input [(ngModel)]="price.name">
                <input [(ngModel)]="price.price">
            </div>
        </div>
        <div class="location">
            <label for="location">Ort</label>
            <app-multi-select-dropdown id="location"
            [allowMultiple]="false"
            [allOptions]="locationList"
            [selectedOptions]="courseLocation"
            [dropdownHeadline]="'Ort'"></app-multi-select-dropdown>
        </div>
        <div class="meeting-point">
            <label for="meeting-point">Treffpunkt</label>
            <input id="meeting-point" type="text" [(ngModel)]="courseTemplate.meetingPoint">
        </div>
        <div class="required-qualifications">
            <label for="required-qualifications">Qualifikationen</label>
            <app-multi-select-dropdown id="required-qualifications"
            [allOptions]="qualificationList"
            [selectedOptions]="requiredQualifications"
            [dropdownHeadline]="'Qualifikationen'"
            [allowMultiple]="true"></app-multi-select-dropdown>
        </div>
        <div class="number-trainers">
            <label for="number-trainers">Benötigte Trainer</label>
            <input id="number-trainers" type="text" [(ngModel)]="courseTemplate.numberTrainers">
        </div>

    </div>
    <div class="footer">
        <button class="save-button dialog-button" (click)="save()">Speichern</button>
        <button class="dialog button" (click)="cancel()">Abbrechen</button>
    </div>
</div>
