<div>
    <div>
            <div>
                <span>Gruppentitel</span>
                <input plaeholder="Gruppentitel" [formControl]="title">
            </div>
            <div>
                <span>Gruppenkürzel</span>
                <input placeholder="Gruppenkürzel" [formControl]="acronym">
            </div>
            <div>
                <span>Beschreibung</span>
                <input placeholder="description" [formControl]="description">
            </div>
            <div>
                <span>Anzahl an Terminen</span>
                <input placeholder="Anzahl der Termine" [formControl]="numberOfDates">
            </div>
            <div>
                <span>Teilnehmeranzahl</span>
                <input placeholder="0" [formControl]="numberOfTrainers">
            </div>
            <div>
                <span>Traineranzahl</span>
                <input placeholder="Anzahl Trainer" [formControl]="numberOfTrainers">
            </div>
            <div>
                <span>Dauer (in Minuten)</span>
                <input placeholder="Dauer" [formControl]="duration">
            </div>
            <div>
                <span>Treffpunkt</span>
                <input [formControl]="meetingPoint">
            </div>
            <div>
                <span>Ort</span>
                <select [(ngModel)]="location">
                    <option *ngFor="let l of locationList" [ngValue]="l">{{l.title}}</option>
                </select>
            </div>
            <div>
                <span>Qualifikationen</span>
                <ng-select
                [items]="qualificationList"
                bindLabel="skill"
                appendTo="body"
                [multiple]="true"
                [(ngModel)]="requiredQualifications">
                </ng-select>
            </div>
            <div>
                <span>Preise</span>
                <ng-select
                [items]="prices"
                bindLabel="priceName"
                appendTo="body"
                [multiple]="true"
                [(ngModel)]="priceList">
                </ng-select>

            </div>
    </div>
    <div>
        <button (click)="save()">Speichern</button>
        <button (click)="close()">Abbrechen</button>
    </div>
</div>

