<div class="listWrapper">
  <div class="tableWrapper">
  <div class="dropdown">
    <button class="dropbtn" (click)="displayDropdown = !displayDropdown">
      {{ displayOption }}
    </button>
    <div
      class="dropdown-content"
      [ngClass]="{ 'show-dropdown-content': displayDropdown }"
    >
      <button
        *ngFor="let filterOption of filterOptions"
        (click)="optionClicked(filterOption)"
      >
        {{ filterOption }}
      </button>
    </div>
  </div>
  <input
    type="text"
    *ngIf="
      displayOption == FilterOption.TrainerFullName ||
      displayOption == FilterOption.GroupAcronym
    "
    [(ngModel)]="searchText"
  />
  <div *ngIf="displayOption == FilterOption.StartDate">
    Von:
    <input type="date" [(ngModel)]="searchDate" />
  </div>
  <div *ngIf="displayOption == FilterOption.StartDate">
    Bis:
    <input type="date" [(ngModel)]="searchEndDate" />
  </div>
  <table>
    <thead>
      <tr>
        <th>Gruppenkürzel</th>
        <!--
        <th>Termin 1.</th>
        <th>Termin 2.</th>
        <th>Termine insgesamt</th>
        -->
        <th>Kontaktperson</th>
        <th>Trainer</th>
        <th>Teilnehmer</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let g of group$ | async">
        <tr *ngIf="g | search: displayOption : searchText : searchDate : searchEndDate">
          <td>{{ g.acronym }}</td>
          <!--
        <td>{{ g.dates[1] || "-" }}</td>
        <td>{{ g.dates[2] || "-" }}</td>
        <td>{{ g.dates.length }}</td>
        -->
            <td>{{ g.contact.firstName + " " + g.contact.lastName }}</td>
            <td>
              <span *ngFor="let trainer of g.trainers">
                {{ trainer.firstName }}
                {{ trainer.lastName }}
              </span>
            </td>
            <td>{{ g.numberParticipants }}</td>
            <td>
              <button (click)="showDetails(g)">Bewerben</button>
            </td>
            <td>
              <button (click)="showEdit(g)">Bearbeiten</button>
            </td>
            <td>
              <button (click)="delete(g)">Löschen</button>
            </td>
          <td>
            <button (click)="cancelGroup(g)">Gruppe absagen</button>
          </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <button class="createButton" (click)="createNewGroupFromTemplate()">
    Neue Gruppe erstellen
  </button>
</div>
