<div class="pop-up">
  <div>
    <p>Massenzuweisung von Qualifikation '{{ this.qualification.name }}'</p>
  </div>
  <div class="body">
    <div>
      <app-multi-select-dropdown
        [allOptions]="allTrainers"
        [selectedOptions]="selectedTrainerList"
        [dropdownHeadline]="'Trainer'"
        [allowMultiple]="true"
      >
      </app-multi-select-dropdown>
    </div>
  </div>
  <div>
    <button (click)="save()">Trainer zuweisen</button>
    <button (click)="cancel()">Abbrechen</button>
  </div>
</div>
