/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --hover-color: #e2aa00;
  --klz-bg-color: #ffc932;
}

input[type="number"] {
  width: 50px;
}

.listWrapper {
  margin: 0 auto;
  height: 350px;
  width: fit-content;
  position: relative;
  .createButton {
    margin-top: 16px;
  }
}

.tableWrapper {
  max-height: 300px;
  width: fit-content;
  margin: 0 auto;
  overflow: auto;
  overflow-x: hidden;
  border: var(--klz-bg-color) solid 2px;
  border-radius: 5px;
  table { 
    margin: 0 auto;
    border: none;
  }
}

.componentListWrapper {
  flex-direction: column;
  button {
    margin-top: 10px;
  }
}

table {
  border-spacing: 0;
  border-radius: 5px;
  min-width: 580px;
  border: var(--klz-bg-color) solid 2px;
  th, td {
    padding: 1px 6px;
    // border: var(--klz-bg-color) solid 2px;
    margin: 0;
  }

  td {
    text-align: center;
    p {
      margin: 8px 0;
      }
  }
  thead {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;  
    border: var(--klz-bg-color) solid 2px;
    th {
      border-bottom: 2px solid var(--klz-bg-color);
    }
  }
  tbody {
    overflow: auto;
    overflow-x: hidden; 
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

button {
  color: black;
  background-color: var(--klz-bg-color);
  border: none;
  border-radius: 4px;
  max-width: 140px;
  &:hover {
    background-color: var(--hover-color);
  }
}

.outer {
  position: absolute;
  top: 0;
  background: white;
  border: black solid 1px;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  min-width: 500px;
}

.body {
  padding: 12px;
  table {
    width: 400px;
    td {
      text-align: center;
    }
  }
  div {
    display: flex;
    align-items: center;
    p:first-child {
      font-weight: 500;
      margin-right: 10px;
    }
    li {
      list-style-type: none;
      height: fit-content;
    }
    &.listWrapper {
      flex-direction: column;
    }
  }
  .priceWrapper {
    flex-direction: column;
    padding: 15px;
    .price {
      p {
        margin: 0;
        margin-bottom: 10px;
      }
      p:first-child {
        font-weight: 400;
        margin-right: 10px;
      }
    }
    .addPriceBtn {
      margin-top: 10px;
    }
    .deletePriceBtn {
      margin-left: 5px;
    }
  }
  .locationWrapper {
    flex-direction: column;
    border: solid  1px black;
    padding: 15px;
    p:first-child { 
      font-weight: 400;
      margin-right: 0;
    }
    p {
      margin: 7px 0 0 0;
    }
    div {
      p:first-child {
        font-weight: 500;
        margin-right: 10px;
      }
    }
  }
  .contactWrapper {
    flex-direction: column;
    align-items: baseline;
    p:first-child { 
      margin-right: 0;
    }
    p {
      margin: 7px 0 0 0;
    }
    div {
      flex-direction: column;
      align-items: baseline;
      p:first-child {
        font-weight: 500;
        margin-right: 10px;
      }
      div {
        flex-direction: row;
      }
    }
  }
}

.footer {
  margin: 12px;
  button {
    margin-right: 10px;
  }
}

.pop-up {
  margin: 30px;
  h1 {
    margin: 5px 0 15px 0;
    font-size: 35px;
  }
  button {
    margin-top: 20px;
    margin-right: 10px;
    font-size: 17px;
  }
}

.shortListWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  h1 {
    margin: 15px 0;
    margin-top: 0;
    }
  button {
    margin-top: 17px;
    width: fit-content;
    padding: 5px;
  }
}

.errorMessage {
  background: #FF6347;
  border-radius: 2px;
  padding: 4px;
}