<div class="outer">
  <div class="body">
    <div>
      <p>Kurstitel:</p>
      <input type="text" [(ngModel)]="courseData.title" />
      <p *ngIf="validationObject.titleError" class="errorMessage">
        {{ validationObject.titleError }}
      </p>
    </div>
    <div>
      <p>Kursnummer:</p>
      <p>
        {{ !isCreate ? courseData.courseNumber : "Wird automatisch erstellt!" }}
      </p>
    </div>
    <div>
      <p>Beschreibung:</p>

      <input type="text" [(ngModel)]="courseData.description" />
      <p *ngIf="validationObject.descriptionError" class="errorMessage">
        {{ validationObject.descriptionError }}
      </p>
    </div>
    <div class="componentListWrapper">
      <table>
        <thead>
          <tr>
            <th>Datum</th>
            <th>Startzeit</th>
            <th>Endzeit</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let currentDate of courseData.dates; let i = index"
          >
            <tr>
              <td>
                <input
                  type="date"
                  [ngModel]="currentDate | date : 'yyyy-MM-dd'"
                  (input)="onDateChange($event, i)"
                />
              </td>
              <td>
                <input
                  type="time"
                  [ngModel]="mappedDateTime[i][0]"
                  (input)="onStartTimeChange($event, i)"
                />
              </td>
              <td>
                <!-- <input
                      type="time"
                      [ngModel]="mappedDateTime[i][1]"
                      (input)="onEndTimeChange($event, i)"
                    /> -->
                {{ mappedDateTime[i][1] }}
              </td>
              <td>
                <button (click)="deleteDate(i)">-</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <p *ngIf="validationObject.datesError" class="errorMessage">
        {{ validationObject.datesError }}
      </p>
      <button (click)="addDate()">Termin hinzufügen</button>
    </div>

    <div>
      <p>Maximale Teilnehmeanzahl:</p>
      <input
        type="number"
        [(ngModel)]="courseData.numberParticipants"
        (input)="
          onMaxParticipantsChange(
            this.courseData.numberParticipants,
            this.courseData.participants
          )
        "
      />
      <p
        *ngIf="validationObject.numberOfParticipantsError"
        class="errorMessage"
      >
        {{ validationObject.numberOfParticipantsError }}
      </p>
    </div>
    <div class="componentListWrapper">
      <table>
        <thead>
          <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Status</th>
            <th>email</th>
            <th>Telefonnummer</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="let p of courseData.participants; let i = index"
          >
            <tr>
              <td>
                <input
                  type="text"
                  [(ngModel)]="p.firstName"
                  [placeholder]="p.firstName ? p.firstName : 'leer'"
                />
              </td>
              <td>
                <input
                  type="text"
                  [(ngModel)]="p.name"
                  [placeholder]="p.name ? p.name : 'leer'"
                />
              </td>
              <td>
                <input
                  type="text"
                  [(ngModel)]="p.status.text"
                  [placeholder]="
                    p.status && p.status.text ? p.status.text : 'leer'
                  "
                />
              </td>
              <td>
                <input
                  type="text"
                  [(ngModel)]="p.email"
                  [placeholder]="p.email ? p.email : 'leer'"
                />
              </td>
              <td>
                <input
                  type="text"
                  [(ngModel)]="p.phone"
                  [placeholder]="p.phone ? p.phone : 'leer'"
                />
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <p *ngIf="validationObject.participantsError" class="errorMessage">
        {{ validationObject.participantsError }}
      </p>
    </div>
    <div>
      <p>Maximale Wartelistenlänge:</p>
      <input
        type="number"
        [(ngModel)]="courseData.numberWaitlist"
        (input)="
          onMaxParticipantsChange(
            this.courseData.numberWaitlist,
            this.courseData.waitList
          )
        "
      />
      <p *ngIf="validationObject.waitlistError" class="errorMessage">
        {{ validationObject.numberWaitlistError }}
      </p>
    </div>
    <div class="componentListWrapper">
      <table>
        <thead>
          <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Status</th>
            <th>email</th>
            <th>Telefonnummer</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let wp of courseData.waitList; let i = index">
            <tr>
              <td>
                <input
                  type="text"
                  [(ngModel)]="wp.firstName"
                  [placeholder]="wp.firstName ? wp.firstName : 'leer'"
                />
              </td>
              <td>
                <input
                  type="text"
                  [(ngModel)]="wp.name"
                  [placeholder]="wp.name ? wp.name : 'leer'"
                />
              </td>
              <td>
                <input
                  type="text"
                  [(ngModel)]="wp.status.text"
                  [placeholder]="
                    wp.status && wp.status.text ? wp.status.text : 'leer'
                  "
                />
              </td>
              <td>
                <input
                  type="text"
                  [(ngModel)]="wp.email"
                  [placeholder]="wp.email ? wp.email : 'leer'"
                />
              </td>
              <td>
                <input
                  type="text"
                  [(ngModel)]="wp.phone"
                  [placeholder]="wp.phone ? wp.phone : 'leer'"
                />
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <p *ngIf="validationObject.waitlistError" class="errorMessage">
        {{ validationObject.waitlistError }}
      </p>
    </div>
    <div>
      <div>
        <p>Preise:</p>
      </div>
      <div class="priceWrapper">
        <div *ngFor="let price of courseData.prices; let i = index">
          <input type="text" [(ngModel)]="price.name" />
          <input type="number" class="valueInput" [(ngModel)]="price.price" />
          <button class="priceValueInput" (click)="deletePrice(i)">-</button>
        </div>
        <button class="addPriceBtn" (click)="addPrice()">
          Preis hinzufügen
        </button>
      </div>
      <p *ngIf="validationObject.pricesError" class="errorMessage">
        {{ validationObject.pricesError }}
      </p>
    </div>
    <div>
      <p>Ort:</p>
      <app-multi-select-dropdown
        [allOptions]="allCheckboxListLocations"
        [selectedOptions]="selectedLocations"
        [dropdownHeadline]="'Location'"
        [allowMultiple]="false"
      >
      </app-multi-select-dropdown>
      <p *ngIf="validationObject.locationError" class="errorMessage">
        {{ validationObject.locationError }}
      </p>
    </div>
    <div>
      <p>Treffpunkt:</p>
      <textarea rows="5" cols="35" [(ngModel)]="courseData.meetingPoint">
      </textarea>
      <p *ngIf="validationObject.meetingPointError" class="errorMessage">
        {{ validationObject.meetingPointError }}
      </p>
    </div>
    <div>
      <p>Trainer Qualifikation:</p>

      <app-multi-select-dropdown
        [allOptions]="allCheckboxListQualifications"
        [selectedOptions]="selectedQualifications"
        [dropdownHeadline]="'Qualifikationen'"
        [allowMultiple]="true"
        (changeEvent)="onQualificationSelectionChange($event)">
      </app-multi-select-dropdown>

      <p
        *ngIf="validationObject.requiredQualificationsError"
        class="errorMessage"
      >
        {{ validationObject.requiredQualificationsError }}
      </p>
    </div>
    <div>
      <p>Trainer:</p>

      <app-multi-select-dropdown id="trainer"
        #trainer
        [allOptions]="allCheckboxListTrainers"
        [selectedOptions]="selectedTrainers"
        [dropdownHeadline]="'Trainer'"
        [allowMultiple]="true"
        [allowedEntries]="this.courseData.numberTrainers"
      >
      </app-multi-select-dropdown>
      <p *ngIf="validationObject.trainerError" class="errorMessage">
        {{ validationObject.trainerError }}
      </p>
    </div>
    <div>
      <p>Notizen:</p>
      <textarea rows="7" cols="50" [(ngModel)]="courseData.notes"> </textarea>
      <p *ngIf="validationObject.notesError" class="errorMessage">
        {{ validationObject.notesError }}
      </p>
    </div>
  </div>
  <div class="footer">
    <button (click)="save()">Speichern</button>
    <button (click)="cancel()">Abbrechen</button>
    <button *ngIf="!isCreate" (click)="cancelCourse()">{{courseData.canceled ? 'Veranstalten' : 'Absagen'}}</button>
  </div>
</div>
