<div class="outer">
  <div class="courseBody">
    <div>
      <p>Kurstitel:</p>
      <p *ngIf="!isEdit; else editTitle">
        {{ courseDetails.courseTitle }}
      </p>
      <ng-template #editTitle>
        <input type="text" [(ngModel)]="courseEditData.courseTitle" />
      </ng-template>
    </div>
    <div>
      <p>Kursnummer:</p>
      <p>
        {{ courseDetails.courseNumber }}
      </p>
    </div>
    <div>
      <p>Beschreibung:</p>
      <p *ngIf="!isEdit; else editDescription">
        {{ courseDetails.description }}
      </p>
      <ng-template #editDescription>
        <input type="text" [(ngModel)]="courseEditData.description" />
      </ng-template>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>Datum</th>
            <th>Start Zeit</th>
            <th>End Zeit</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let cd of courseDetails.dates">
            <tr>
              <td>{{ dateConverterService.getDate(cd) }}</td>
              <td>{{ dateConverterService.getStartTime(cd) }}</td>
              <td>
                {{
                  dateConverterService.getEndTime(cd, courseDetails.duration)
                }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <button *ngIf="isEdit" (click)="addDate()">Termin hinzufügen</button>
    </div>
    <div>
      <p>Teilnehmeanzahl:</p>
      <p>
        {{ courseDetails.participants.length }}
      </p>
    </div>
    <div>
      <p>Wartelistenlänge:</p>
      <p>
        {{ courseDetails.waitList.length }}
      </p>
    </div>
    <div>
      <div>
        <p>Preise:</p>
      </div>
      <div class="priceWrapper">
        <ng-container *ngFor="let price of courseDetails.priceList">
          <div class="price">
            <p>{{ price.priceName }}:</p>
            <p>{{ price.priceValue }}</p>
          </div>
        </ng-container>
        <button *ngIf="isEdit" (click)="addPrice()">Preis hinzufügen</button>
      </div>
    </div>
    <div>
      <p>Ort:</p>
      <p *ngIf="!isEdit; else editPlace">
        {{ courseDetails.place }}
      </p>
      <ng-template #editPlace>
        <input type="text" [(ngModel)]="courseEditData.place" />
      </ng-template>
    </div>
    <div>
      <p>Trainer Qualifikation:</p>
      <ng-container *ngFor="let q of courseDetails.trainerQualifications">
        <li>{{ q.skill }}</li>
      </ng-container>
    </div>
    <div>
      <p>Trainer:</p>
      <ng-container *ngFor="let t of courseDetails.trainers">
        <li>{{ t.trainerName }}</li>
      </ng-container>
    </div>
    <div>
      <p>Notizen:</p>
      <p *ngIf="!isEdit; else editNotes">
        {{ courseDetails.notes }}
      </p>
      <ng-template #editNotes>
        <input type="text" [(ngModel)]="courseEditData.notes" />
      </ng-template>
    </div>
  </div>
  <div class="button-div">
    <button mat-raised-button color="primary" (click)="save()" *ngIf="isEdit">
      Speichern
    </button>
    <button (click)="deleteCourse()" *ngIf="isDelete">Löschen</button>
    <button mat-raised-button (click)="cancel()">
      {{ isEdit || isDelete ? "Abbrechen" : "schließen" }}
    </button>
  </div>
</div>
